body {
    text-align: center;
    margin: 0;
    font-family: 'Merriweather', serif;

}

h1 {

    font-family: 'Sacramento', cursive;
    font-size: 3.26rem;
    margin: 0px auto 0px auto;
    color: #0a9292;
    line-height: 2;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    margin-top: 0px;
    color: #66BFBF;
    font-weight: normal;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

hr {

    width: 5%;
    border: 7px dotted gray;
    border-bottom: 0px;
}

a {
    text-decoration: none;
    font-size: 13px;
    margin: 10px;
    color: #11999E;

}

.contact-me {
    width: 50%;
    margin: auto;
}

.top-container {
    background-color: #B5EAEA;
    padding-top: 50px;
}

.middle-container {}

.bottom-container {
    background-color: #66BFBF;
    padding: 30px;
    margin-top: 40px;
}

.topCloud {
    position: relative;
    left: 20%;
    bottom: 10px;
}

.bottomCloud {
    position: absolute;
}

.bakingImg {
    background-color: floralwhite;
    border-radius: 100%;
    float: right;
    margin-left: 30px;
}

.skill-row {
    width: 50%;
    margin: 50px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.profile {
    width: 50%;
    margin: 100px auto 50px auto;
    line-height: 2;
}

.code-img {
    float: left;
    margin-right: 30px;
}

.ba-dex {
    /* clear: right; */
}

.skills {
    margin-top: 30px;
}

.footer-name {
    margin-bottom: 0px;
    color: white;
    font-size: 10px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-top: 20px;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}